* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#box {
  height: 200px;
  width: 200px;
  background: orange;
}
p {
  font-size: 40px;
}
#ball {
  height: 100px;
  width: 100px;
  background-color: #b12bc6;
  border-radius: 50%;
}
