 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
  /* overflow-x: hidden; */
}

#page1 {
  height: 100%;
  width: 100%;
  background-color: rgb(185, 210, 218);
  display: flex;
  justify-content: center;
  align-items: center;
}
#page2 {
  height: 100%;
  width: 100%;
  background-color: #c59dcf;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page3 {
  height: 100%;
  width: 100%;
  background-color: #8fbceb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  height: 300px;
  width: 300px;
  background-color: crimson;
}



/* 
 h1{
  font-size: 40px;
  font-weight: bold;
  
  background-color: gray;
  color: black;
 }
 p{
  font-size: 20px;
  background-color: red;
  color:black
 }
 button{
  background-color: blanchedalmond;
  color: black;
  padding: 10px;
 }
 h2{
  font-size: 25px;
 } */